# better to have in "", "", but this works
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-use-auto,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-default-member-init,
  modernize-loop-convert,
  performance-unnecessary-value-param,
  performance-unnecessary-copy-initialization,
  readability-magic-numbers,
  readability-named-parameter,
  readability-const-return-type,
  bugprone-signed-char-misuse,
  bugprone-too-small-loop-variable,
  bugprone-incorrect-roundings

CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: "0;1;2;-1"   # these are fine everywhere